/.gradle/
/build/
/openTCS-Documentation/build/
/openTCS-API-Base/build/
/openTCS-API-Injection/build/
/openTCS-Common/build/
/openTCS-CommAdapter-Loopback/build/
/openTCS-Impl-Configuration-cfg4j/build/
/openTCS-Kernel-Extension-HTTP-Services/build/
/openTCS-Kernel-Extension-RMI-Services/build/
/openTCS-Kernel-Extension-Statistics/build/
/openTCS-Strategies-Default/build/
/openTCS-Kernel/build/
/openTCS-KernelControlCenter/build/
/openTCS-PlantOverview-Base/build/
/openTCS-PlantOverview-Panel-LoadGenerator/build/
/openTCS-PlantOverview-Panel-ResourceAllocation/build/
/openTCS-PlantOverview-Panel-Statistics/build/
/openTCS-PlantOverview/build/
/openTCS-PlantOverview-Themes-Default/build/
/opentcs-kernal-redis-extension/.gradle/
/opentcs-Kernel-Extension-Redis/.gradle/
/opentcs-Kernel-Extension-Redis/build/
/openTCS-Kernel-Extension-Redis/build/
/openTCS-CommAdapter-Loopback - 副本/build/
/openTCS-CommAdapter-PLC/build/
/openTCS-CommAdapter-KeCong/build/
/openTCS-CommAdapter-PLC - 副本/build/
/openTCS-OtherDevice-Charger/build/